/*   _ _ _ _____ _____ _ 
    | | | |     |   __|_|
    | | | |  |  |   __| |
    |_____|_____|__|  |_|  STYLE
    
    by Bina
*/


@import ".cache/wal/colors-waybar.css";

*{
  border: none;
  box-shadow: none;
  outline: none;
}

window {
  font-size: 14px;
  font-family: "JetBrains Mono";
  background-color: rgba(23, 23, 23, 0.95);
  border-radius: 8px;
  border: solid @color13 2px;

}

#outer-box {
  margin: 10px 10px 20px 10px;
  background-color: #171717;
  opacity: 0.9;
}

#inner-box {
  margin: 10px;
  background-color: #171717;
  opacity: 0.9;
}

#entry {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #171717;
  opacity: 0.9;
}

#entry #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: @color7;
}

#entry:selected {
  background-color: @color13;
}

#entry:selected #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: @color0;
}

#input {
  background: #272727;
  margin: 0px 5px 0px 20px;
  color: @color7;
  padding: 5px;
}

#image {
  margin-left: 20px;
  margin-right: 20px;
}

#scroll {
  margin: 0px;
}


