/*   _ _ _ __    _____ _____ _____ _____ _____ 
    | | | |  |  |     |   __|     |  |  |_   _|
    | | | |  |__|  |  |  |  |  |  |  |  | | |  
    |_____|_____|_____|_____|_____|_____| |_|   STYLE  
                                           
    by Bina 
*/


/* pywal colors */ 
@import '../../.cache/wal/colors-wlogout.css';

/* general */ 
* {
    background-image: none;
    transition: 20ms;
    box-shadow: none;
}

window {
    background-image: image(url("../../.config/hypr/wallpapers/current_wallpaper_blurred.png"));
    background: rgba(23, 23, 23, 0.6);
}

button {
    color: #FFFFFF;
    background-color: @color9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    border: none;
	  border-radius: 10px;
	  outline-style: none;
}

/* options */ 
#lock {
    background-color: #272727;
    border: solid @color9 2px;
    background-image: image(url("icons/lock.png"));
    border-radius: 5px 0px 0px 0px;
    margin : 200px 2px 2px 750px;
}

#reboot {
    background-color: #272727;
    border: solid @color10 2px;
	  background-image: image(url("icons/reboot.png"));
	  border-radius: 0px 0px 0px 5px;
    margin : 2px 2px 200px 750px;
}

#logout {
    background-color: #272727;
    border: solid @color11 2px;
	  background-image: image(url("icons/logout.png"));
	  border-radius: 0px 5px 0px 0px;
    margin : 200px 750px 2px 2px;
}

#shutdown {
    background-color: #272727;
    border: solid @color12 2px;
	  background-image: image(url("icons/shutdown.png"));
	  border-radius: 0px 0px 5px 0px;
    margin : 2px 750px 200px 2px;
}

/* options on hover */ 
button:hover {
    background-size: 25%;
}

button:hover#lock {
    border-radius: 10px 10px 0px 10px;
    margin : 180px 0px 0px 730px;
}

button:hover#reboot {
    border-radius: 10px 0px 10px 10px;
    margin : 0px 0px 180px 730px;
}

button:hover#logout {
    border-radius: 10px 10px 10px 0px;
    margin : 180px 730px 0px 0px;
}

button:hover#shutdown {
    border-radius: 0px 10px 10px 10px;
    margin: 0px 730px 180px 0px;
}

