@define-color foreground #3c3c3c;
@define-color background #171717;
@define-color cursor #3c3c3c;

@define-color color0 #171717;
@define-color color1 #A3493F;
@define-color color2 #48A34E;
@define-color color3 #C09D50;
@define-color color4 #232299;
@define-color color5 #4446BB;
@define-color color6 #B756AD;
@define-color color7 #797979;
@define-color color8 #b6b6b6;
@define-color color9 #ba766f;
@define-color color10 #75ba7a;
@define-color color11 #cfb57b;
@define-color color12 #5a59b2;
@define-color color13 #7274cc;
@define-color color14 #c980c1;
@define-color color15 #3c3c3c;

