@define-color foreground #3c3c3d;
@define-color background #171717;
@define-color cursor #3c3c3d;

@define-color color0 #171717;
@define-color color1 #523792;
@define-color color2 #64589A;
@define-color color3 #524CB8;
@define-color color4 #906B9E;
@define-color color5 #A667D3;
@define-color color6 #6C9AC0;
@define-color color7 #79797a;
@define-color color8 #b6b6b7;
@define-color color9 #7d69ad;
@define-color color10 #8a81b3;
@define-color color11 #7d78c9;
@define-color color12 #ab90b6;
@define-color color13 #bc8dde;
@define-color color14 #90b3cf;
@define-color color15 #3c3c3d;

