#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#171717",
    floating_border_color: "#B756AD",
    focused_border_color: "#3c3c3c",
    background_color: "#171717",
)