@define-color foreground #c4c4c3;
@define-color background #171717;
@define-color cursor #c4c4c3;

@define-color color0 #171717;
@define-color color1 #A2633F;
@define-color color2 #5B843D;
@define-color color3 #68934D;
@define-color color4 #91AA5F;
@define-color color5 #B9A64D;
@define-color color6 #794B89;
@define-color color7 #99948e;
@define-color color8 #6e675a;
@define-color color9 #be8869;
@define-color color10 #81b757;
@define-color color11 #88be68;
@define-color color12 #aec77e;
@define-color color13 #c6b97c;
@define-color color14 #a462bb;
@define-color color15 #c4c4c3;

