/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #171717 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c4c4c3; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c4c4c3; background-color: rgba(121,75,137,0.4)}
.cm-s-nqqwal { background-color: #171717; color: #c4c4c3; }
.cm-s-nqqwal span.cm-builtin { color: #5B843D; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #6e675a; }
.cm-s-nqqwal span.cm-keyword { color: #68934D; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #91AA5F; }
.cm-s-nqqwal span.cm-def { color: #B9A64D; }
.cm-s-nqqwal span.cm-variable { color: #794B89; }
.cm-s-nqqwal span.cm-variable-2 { color: #B9A64D; }
.cm-s-nqqwal span.cm-string { color: #5B843D; }
.cm-s-nqqwal span.cm-string-2 { color: #5B843D; }
.cm-s-nqqwal span.cm-number { color: #B9A64D; }
.cm-s-nqqwal span.cm-tag { color: #68934D; }
.cm-s-nqqwal span.cm-property { color: #794B89; }
.cm-s-nqqwal span.cm-attribute { color: #794B89; }
.cm-s-nqqwal span.cm-qualifier { color: #91AA5F; }
.cm-s-nqqwal span.cm-meta { color: #B9A64D; }
.cm-s-nqqwal span.cm-header { color: #68934D; }
.cm-s-nqqwal span.cm-operator { color: #68934D; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(185,166,77,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #68934D; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #171717); }
